<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>
    <div class="header">
        <h2>Dashboard de {{ current_user.name }}</h2>
        <div class="options">
            <a href="{{ url_for('logout') }}" class="btn btn-secondary logout-button">Logout</a>
            <a href="{{ url_for('new_event') }}" class="btn btn-primary new-task-button">Criar Nova Tarefa</a>
            <a href="{{ url_for('dashboard') }}" class="btn btn-secondary {% if not filter %}active{% endif %} filter-button">Todas</a>
            <a href="{{ url_for('dashboard', filter='NOT_STARTED') }}" class="btn btn-secondary {% if filter == 'NOT_STARTED' %}active{% endif %} filter-button">Não Iniciada</a>
            <a href="{{ url_for('dashboard', filter='IN_PROGRESS') }}" class="btn btn-secondary {% if filter == 'IN_PROGRESS' %}active{% endif %} filter-button">Em Progresso</a>
            <a href="{{ url_for('dashboard', filter='FINISHED') }}" class="btn btn-secondary {% if filter == 'FINISHED' %}active{% endif %} filter-button">Concluída</a>
        </div>
    </div>
    <div class="content">
        <table class="table">
            <tbody>
                {% for event in events %}
                <tr class="{% if event.status.value == 'Em Progresso' %}in-progress{% elif event.status.value == 'Concluída' %}finished{% else %}not-started{% endif %}">
                        <td><img src="{{ url_for('static', filename='img/pin.png') }}" alt="Pin"></td>
                        <td class="negrito">{{ event.name }}</td>
                        <td>{{ event.description }}</td>
                        <td>{{ event.date }}</td>
                        <td>{{ event.status.value }}</td>
                        <td>
                            <a href="{{ url_for('edit_event', event_id=event.id) }}" class="btn btn-warning edit_button">Editar</a>
                            <form action="{{ url_for('delete_event', event_id=event.id) }}" method="post" style="display:inline;" onsubmit="return confirmDelete(event);">
                                <button type="submit" class="btn btn-danger delete_button">Excluir</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
