<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/edit_event.css">
    <title>Edit Event</title>
</head>
<body>
    <div class="header">
        <h2>Editar Evento</h2>
    </div>

    <div class="content">
        <img src="../static/img/pin.png">

        <form method="POST">
            {{ form.hidden_tag() }}
    
            {{ form.event_name.label(class="form-label") }}
            {{ form.event_name(class="form-control", placeholder="Evento...") }}
    
            <br>
            {{ form.event_date.label(class="form-label") }}
            {{ form.event_date(class="form-control") }}
    
            <br>
            {{ form.event_description.label(class="form-label") }}
            {{ form.event_description(class="form-control", placeholder="Evento...") }}
    
            <br>
            {{ form.event_status.label(class="form-label") }}
            {{ form.event_status(class="form-control") }}

            <br>
            {{ form.user_id.label(class="form-label") }}
            {{ form.user_id(class="form-control") }}
    
            <br>
            <button {{ form.submit(class="btn btn-primary")}}> Aplicar </button>
    
        </form>
    </div>
    <a href="{{ url_for('dashboard') }}"><button type="button">Cancelar/Voltar</button></a>
</body>
</html>