<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/static/css/index.css" type="text/css">
</head>
<body>
    <div class="header">
        <h2>Bem-Vindo!</h2>
    </div>
    <div class="content">
        <img src="../static/img/pin.png">
        <button class="button">
            <br><a href="{{ url_for('login') }}">Login</a>
        </button>
        <button class="button">
            <br><a href="{{ url_for('register') }}">Registrar</a>
        </button>
    </div>
</body>
</html>