<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bem-Vindo!</title>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>
<body>
    <section class="container"></div>
        <h2>Bem-Vindo!</h2>
        <form>
            <div>
                <h2>
                    <button class="button">
                        <br><h2 href="{{ url_for('register') }}">Registrar</h2>
                    </button>
                    <button class="button">
                        <br><h2 href="{{ url_for('login') }}">Login</h2>
                    </button>
                </h2>
            </div>
        </form>
    </section>
</body>
</html>