<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>
<body>
    <section>
        <h2>Bem-Vindo!</h2>
        <form>
            <div>
                <h2>
                    <a href="{{ url_for('register') }}" class="button">
                        <br><h2>Registrar</h2>
                    </a>
                    <a href="{{ url_for('login') }}" class="button">
                        <br><h2>Login</h2>
                    </a>
                </h2>
            </div>
        </form>
    </section>
</body>
</html>