<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Event</title>
    <link rel="stylesheet" href="../static/css/new_event.css" type="text/css">
</head>
<body>
    <div class="header">
        <h2>Criar um novo Evento</h2>
    </div>

    <div class="content">
        <img src="../static/img/pin.png">
        <form method="POST" action="{{ url_for('new_event') }}" class="table">
            {{ form.hidden_tag() }}
    
            {{ form.event_name.label(class="form-label") }}
            {{ form.event_name(class="form-control", placeholder="Evento...") }}
    
            <br>
            {{ form.event_date.label(class="form-label") }}
            {{ form.event_date(class="form-control") }}
    
            <br>
            {{ form.event_description.label(class="form-label") }}
            {{ form.event_description(class="form-control", placeholder="Descreva o evento...") }}
    
            <br>
            {{ form.submit(class="btn") }}
        </form>
    </div>
    <a class="back" href="{{ url_for('dashboard') }}"><button type="button">Voltar para o Dashboard</button></a>
</body>
</html>