<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/register.css" type="text/css">
</head>
<body>
    <div class="header">
        <h2 class="text-center mb-4">Registrar</h2>
    </div>
    <div class="content">
        <img src="/static/img/pin-2.png">
        <form method="POST" action="{{ url_for('register') }}">
            {% if user_exists %}
                <div role="alert">
                    <p class="text-danger">Usuário já existe. Tente novamente!</p>
                </div>
            {% endif %}
            
            {{ form.hidden_tag() }}
    
            <div class="form">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control", placeholder="Digite seu usuario") }}
            </div>
    
            <div class="form">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control", placeholder="Digite sua senha") }}
            </div>
            <div class="submit">
                {{ form.submit(class="btn") }}
            </div>
        </form>
        <a class="register" href="{{ url_for('login') }}">Já tem uma conta? Faça login</a>
    </div>
</body>
</html>