<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atribuir Tarefa</title>
    <link rel="stylesheet" href="../static/css/taskatt.css">
</head>
<body>
    <div class="header">
        <h2>Atribuir Tarefas</h2>
        <a href="{{ url_for('dashboard')}}" class="btn btn-secondary back-to-dashboard-button"> Voltar </a>
    </div>
    <div class="content">
        <table class="table">
            <tbody>
                {% for user in users %}
                    <tr>
                        <td><img src="../static/img/pin.png"></td>
                        <td>{{ user.name }}</td>
                        <td>
                            <a href="{{ url_for('event_assignment', id=user.id) }}">Adicionar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>